*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
#funcionarios{
    display:flex;
    overflow:scroll;
    max-width: 1440px;
    margin:auto;
}

.card-funcionario{
    border:1px solid black;
    border-radius: 6px;
    box-shadow:1px 1px 1px black;
    width:max-content;
    padding:8px 16px;
}
.card-funcionario header h2{

    font-size:20px;
}
.card-funcionario header p{
    font-size: 12px;
}